apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: guestbook
  namespace: argocd
spec:
  destination:
    namespace: guestbook
    server: 'https://kubernetes.default.svc'
  project: default
  source: 
    path: guestbook
    #repoURL: 'https://github.com/filipelopes2020/argocd-app.git'
    repoURL: 'https://github.com/mabusaa/argocd-example-apps/blob/master/guestbook/guestbook-ui-deployment.yaml'
    targetRevision: master
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
